@import url("https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro|Oswald:300,400");
h1 {
  font-size: 2.5rem;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h2 {
  font-size: 2rem;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 1.75rem;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h4 {
  font-size: 1.5rem;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h5 {
  font-size: 1.25rem;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h6 {
  font-size: 1rem;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem; }

header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  header p {
    font-size: 1.2rem; }

p {
  margin: 0;
  margin-bottom: 1rem; }

a {
  color: #4b79ce;
  text-decoration: none; }
  a:hover {
    color: #BDD4DE; }

code {
  font-family: "Source Code Pro", monospace; }

p code {
  background: #ECECEC;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  padding: 0.2rem 0.4rem; }

pre {
  padding: 1rem 2rem;
  border-left: 0.3125rem solid #c2ccd2;
  background: #f6f6f6; }
  pre code {
    font-size: 0.9rem;
    background: inherit !important; }

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  border-left: 0.3125rem solid #ECECEC; }

.hg-muted {
  color: #8a949a;
  font-weight: lighter; }

.hg-tag {
  background: #f3534e;
  padding: .2rem .6rem .3rem;
  margin-right: 0.7rem;
  font-size: 0.75rem;
  color: white;
  border-radius: 0.25rem;
  white-space: nowrap; }
  .hg-tag:first-child {
    margin-left: 0.3rem; }

.hg-body-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (min-width: 48em) {
    .hg-body-container {
      margin-left: 20%; } }
  .hg-body-container .hg-body {
    padding-left: 5%;
    padding-right: 5%; }

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  color: #2d4054; }

.pure-g {
  display: flex; }

.pure-g > div {
  box-sizing: border-box; }

article .pure-g {
  margin-bottom: 1rem; }

.hg-sidebar {
  display: none;
  padding-right: 1rem; }
  @media screen and (min-width: 48em) {
    .hg-sidebar {
      display: block; } }
  .hg-sidebar .hg-sidebar-item {
    margin-top: 2rem; }

.hg-sidenav {
  display: none;
  background: #2d4054;
  position: fixed;
  height: 100%;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif !important;
  font-weight: 300;
  text-align: center;
  color: #BDD4DE !important;
  border-top: 0.3125rem solid #f3534e; }
  @media screen and (min-width: 48em) {
    .hg-sidenav {
      display: flex; } }
  .hg-sidenav a {
    color: #BDD4DE;
    text-decoration: none; }
    .hg-sidenav a:hover {
      color: white; }
  .hg-sidenav .hg-sidenav-content {
    margin: 0 auto;
    width: 85%; }
  .hg-sidenav .hg-sidenav-item {
    margin-bottom: 1rem; }
    .hg-sidenav .hg-sidenav-item:last-child {
      margin-bottom: 0; }
  .hg-sidenav .hg-site-title {
    font-size: 2.75rem; }
  .hg-sidenav .hg-site-subtitle {
    font-size: 1.6rem; }
  .hg-sidenav .hg-profile-pic {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .hg-sidenav .hg-social {
    display: flex;
    justify-content: space-around;
    font-size: 2rem; }
    @media screen and (min-width: 80em) {
      .hg-sidenav .hg-social {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto; } }
  .hg-sidenav .hg-sidenav-links {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem; }
    .hg-sidenav .hg-sidenav-links .hg-sidenav-link {
      margin-bottom: 0.5rem; }
      .hg-sidenav .hg-sidenav-links .hg-sidenav-link:last-child {
        margin-bottom: 0; }

.hg-mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.125rem;
  background: #2d4054;
  font-family: "Oswald", "Arial", sans-serif !important;
  font-weight: 300;
  color: #BDD4DE !important;
  border-bottom: 0.3125rem solid #f3534e; }
  @media screen and (min-width: 48em) {
    .hg-mobile-nav {
      display: none; } }
  @media screen and (min-width: 24em) {
    .hg-mobile-nav .hg-site-title {
      font-size: 2rem !important; }
    .hg-mobile-nav .hg-mobile-links {
      font-size: 1.5rem !important; } }
  .hg-mobile-nav a {
    color: #BDD4DE;
    text-decoration: none; }
    .hg-mobile-nav a:hover {
      color: white; }
  .hg-mobile-nav .hg-site-title {
    margin-left: 1rem;
    font-size: 1.5rem; }
  .hg-mobile-nav .hg-mobile-links {
    margin-right: 1rem;
    text-align: center;
    font-size: 1.1rem; }
    .hg-mobile-nav .hg-mobile-links a {
      margin-right: 0.5em; }
      .hg-mobile-nav .hg-mobile-links a:last-child {
        margin-right: 0; }

.hg-footer {
  text-align: center; }
  .hg-footer div {
    margin-bottom: 0.5rem;
    font-size: 0.7rem !important; }
    .hg-footer div:last-child {
      margin-bottom: 1rem; }
  @media screen and (min-width: 48em) {
    .hg-footer .hg-footer-socials {
      display: none; } }
  .hg-footer .hg-footer-socials a, .hg-footer .hg-footer-socials span {
    margin-right: 1rem; }
    .hg-footer .hg-footer-socials a:last-child, .hg-footer .hg-footer-socials span:last-child {
      margin-right: 0; }
  .hg-footer .hg-footer-menu a {
    margin-right: 1rem; }
    .hg-footer .hg-footer-menu a:last-child {
      margin-right: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.responsive {
  width: 100%;
  height: auto; }

figure img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  border: 1px solid #c2ccd2;
  box-shadow: 2px 2px 5px #808080; }

figure figcaption {
  font-size: 0.9rem;
  color: #7b99b8;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.twitter-tweet, .instagram-media {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 1rem !important; }

.hg-toc {
  float: left;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem; }
  .hg-toc #TableOfContents ul {
    padding-left: 0.5rem; }
    .hg-toc #TableOfContents ul li {
      margin-top: 0.5rem; }
  .hg-toc .hg-toc-label {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 120%; }

.hg-sidebar .hg-toc {
  float: none;
  display: block;
  margin: 0 auto;
  float: none; }

@media screen and (min-width: 48em) {
  article .hg-toc {
    display: none; } }

.hg-share-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  .hg-share-buttons .hg-share-btn {
    margin-right: 1rem;
    white-space: nowrap; }
    .hg-share-buttons .hg-share-btn .fb-share-button {
      padding-bottom: 8px; }
    .hg-share-buttons .hg-share-btn .hg-custom-btn {
      padding: 0px 6px 3px;
      background: #4b79ce;
      color: #FAFAFA;
      border-radius: 3px; }
      .hg-share-buttons .hg-share-btn .hg-custom-btn .fa {
        font-size: 0.9rem !important; }
      .hg-share-buttons .hg-share-btn .hg-custom-btn:hover {
        background: #376ac9; }
      .hg-share-buttons .hg-share-btn .hg-custom-btn.hg-rss {
        background: #F90;
        color: white; }
        .hg-share-buttons .hg-share-btn .hg-custom-btn.hg-rss:hover {
          background: #e68a00; }

.hg-summary .hg-summary-header {
  font-family: "Oswald", "Arial", sans-serif; }
  .hg-summary .hg-summary-header .hg-summary-date {
    margin-bottom: 1rem; }

.hg-summary .hg-summary-footer {
  margin-top: 1rem;
  line-height: 2rem; }

.hg-pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC; }
  .hg-pagination ul {
    display: flex;
    width: 100%;
    margin: 1rem auto;
    padding: 0;
    justify-content: space-around; }
    @media screen and (min-width: 48em) {
      .hg-pagination ul {
        width: 70%; } }
    @media screen and (min-width: 64em) {
      .hg-pagination ul {
        width: 50%; } }
    .hg-pagination ul li {
      display: inline;
      font-size: 2rem;
      font-family: "Oswald", "Arial", sans-serif;
      font-weight: 200; }
      .hg-pagination ul li a {
        color: #A5ADB2; }
      .hg-pagination ul li.active a, .hg-pagination ul li.disabled a {
        color: #dcdfe1; }

.hg-bottom-nav {
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  margin: 2rem auto; }
  .hg-bottom-nav div {
    margin: 2rem auto;
    display: inline-block;
    font-weight: 200;
    text-align: center; }
    .hg-bottom-nav div a {
      font-size: 1.2rem;
      font-family: "Oswald", "Arial", sans-serif !important;
      color: #A5ADB2; }
    .hg-bottom-nav div:first-child {
      float: left; }
    .hg-bottom-nav div:last-child {
      float: right; }

body {
  background-color: #FAFAFA; }

html, body, .hg-container {
  width: 100%;
  height: 100%;
  margin: 0; }

.clear {
  clear: both; }

/*# sourceMappingURL=hugo-geo.css.map */
