<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>
		{{ partial "navbar.html" . }}
		<div class="container-fluid">
			<div class="row">
				{{ partial "sidebar.html" . }}
				<div id="content" class="col-xs-12 col-sm-8 col-md-9">
					<div class="row">
						<div class="col-sm-1"></div>
							<div id="post" class="col-sm-10 col-md-9 col-lg-7">
								<article>
									<header>
										<h1>{{ .Title }}</a></h1>
									</header>
									<ul>
										{{ range .Data.Pages }}
										<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
										{{ end }}
									</ul>
								</article>
							</div>
							<div class="col-sm-1 col-md-2 col-lg-4"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
