{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<main>
	<header>
		<h1>{{ .Title }}</h1>
	</header>

	<article>
		{{ .Content }}
	</article>
</main>

<div id="bottom-nav" class="container-fluid">
	<div class="row">
		<div class="col-xs-4 text-left">
			{{ with .PrevInSection }}
			<strong>
				<a href="{{ .Permalink }}">
					<i class="fa fa-angle-double-left" aria-hidden="true"></i>
					<span class="hidden-xs">Previous</span>
				</a>
			</strong>
			{{ end }}
		</div>
		<div class="col-xs-4 text-center">
			<strong>
				<a href="{{ .Site.BaseURL }}">
					<i class="fa fa-home" aria-hidden="true"></i>
					<span class="hidden-xs">Home</span>
				</a>
			</strong>
		</div>
		<div class="col-xs-4 text-right">
			{{ with .NextInSection }}
			<strong>
				<a href="{{ .Permalink }}">
					<i class="fa fa-angle-double-right" aria-hidden="true"></i>
					<span class="hidden-xs">Next</span>
				</a>
			</strong>
			{{ end }}
		</div>
	</div>
</div>

{{ if .Site.DisqusShortname }}
  {{ template "_internal/disqus.html" . }}
{{ end }}

{{ partial "footer.html" . }}
