{{ partial "head.html" . }}
<div class="hg-container pure-g">
    {{ partial "sidebar.html" . }}
    <div class="hg-body-container pure-u-1 pure-u-lg-4-5 pure-u-md-3-4">
        <div class="hg-body">
			<main>
				<header>
					<h1>{{ .Title }}</h1>
				</header>

				<article>
					{{ .Content }}
				</article>
			</main>

			<div id="bottom-nav" class="text-center center-block">
				<a href=" {{ .Site.BaseURL }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
			</div>

			{{ if .Site.DisqusShortname }}
			{{ template "_internal/disqus.html" . }}
			{{ end }}
        </div>
        <div class="hg-footer">
        {{ partial "footer.html" . }}
        </div>
    </div>
</div>
{{ partial "tail.html" . }} 