{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<header>
	<!-- Check if header is not set or empty -->
	{{ if (not (isset .Site.Params "header")) | or (eq .Site.Params.header "") }}
		<h1>What I'm Thinking</h1>
	{{ else }}
		<h1>{{ .Site.Params.header }}</h1>
	{{ end }}
</header>
{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Section" "post") }}
{{ range $paginator.Pages }}
	{{ .Render "summary"}}
{{ end }}

<div class="text-center center-block">
	{{ template "_internal/pagination.html" . }}
</div>

{{ partial "footer.html" . }}
