{{ define "body" }}

{{ if isset .Site.Params "tagline" }}
<h1>{{ .Site.Params.tagline }}</h1>
{{ end }}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur autem, accusamus neque natus eos tempora! Culpa modi debitis laborum, illum quas, explicabo rem possimus excepturi temporibus doloribus, vel eaque ratione.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur autem, accusamus neque natus eos tempora! Culpa modi debitis laborum, illum quas, explicabo rem possimus excepturi temporibus doloribus, vel eaque ratione.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur autem, accusamus neque natus eos tempora! Culpa modi debitis laborum, illum quas, explicabo rem possimus excepturi temporibus doloribus, vel eaque ratione.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur autem, accusamus neque natus eos tempora! Culpa modi debitis laborum, illum quas, explicabo rem possimus excepturi temporibus doloribus, vel eaque ratione.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur autem, accusamus neque natus eos tempora! Culpa modi debitis laborum, illum quas, explicabo rem possimus excepturi temporibus doloribus, vel eaque ratione.</p>

{{ end }}