.hg-body-container {
    @media screen and (min-width: $mobile-break) {
        margin-left: 20%;
    }

    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .hg-body {
        padding-left: 5%;
        padding-right: 5%;
    }
}