.hg-footer {
    text-align: center;

    div {
        margin-bottom: 0.5rem;
        font-size: 0.7rem !important;

        &:last-child {
            margin-bottom: 1rem;
        }
    }

    .hg-footer-socials {
        @media screen and (min-width: $mobile-break) {
            display: none;
        }

        a, span {
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .hg-footer-menu {
        a {
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}