html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: $font-sans;
    font-size: $font-size;
}

.pure-g {
    display: flex;
}

.pure-g > div {
    box-sizing: border-box;
}