.hg-share-buttons {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .hg-share-btn {
        margin-right: 1rem;
        white-space: nowrap;

        .hg-custom-btn {
            font-size: 90%;
            padding: 2px 6px 2px;
            background: $blue;
            color: $white;
            border-radius: 3px;

            &:hover {
                background: darken($blue, 5%);
            }

            &.hg-rss {
                background: $rss;
                color: white;

                &:hover {
                    background: darken($rss, 5%);
                }
            }
        }
    }

}