.hg-share-buttons {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .hg-share-btn {
        margin-right: 1rem;
        white-space: nowrap;

        .fb-share-button {
            padding-bottom: 8px;
        }

        .hg-custom-btn {
            padding: 0px 6px 3px;
            background: $blue;
            color: $white;
            border-radius: 3px;

            .fa {
                font-size: 0.9rem !important;
            }

            &:hover {
                background: darken($blue, 5%);
            }

            &.hg-rss {
                background: $rss;
                color: white;

                &:hover {
                    background: darken($rss, 5%);
                }
            }
        }
    }

}