.hg-sidebar {
    display: none;

    @media screen and (min-width: $mobile-break) {
        display: flex;
    }

    background: $sidebar-color;
    position: fixed;
    height: 100%;
    align-items: center;

    font-family: $header-font !important;
    font-weight: 300;
    text-align: center;
    color: $sidebar-text-color !important;
    border-top: rem(5px) solid $sidebar-top-border;

    a {
        color: $sidebar-text-color;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }

    .hg-sidebar-content {
        margin: 0 auto;
        width: 85%;
    }

    .hg-sidebar-item {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .hg-site-title {
        font-size: $header-size;
    }

    .hg-site-subtitle {
        font-size: 1.6rem;
    }

    .hg-profile-pic {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hg-social {
        display: flex;
        justify-content: space-around;
        font-size: 2rem;

        @media screen and (min-width: $desktop-break) {
            max-width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .hg-sidebar-links {
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;

        .hg-sidebar-link {
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}