.hg-summary {

    .hg-summary-header {
        font-family: $header-font;

        .hg-summary-date {
            margin-bottom: 1rem;
        }
    }

    .hg-summary-body {
        margin-bottom: 1rem;
    }

    .hg-summary-footer {

    }
}