@import 'colours';

$mobile-break: 48em;

$base-size: 1em;
$font-sans: "Roboto", "Arial", sans-serif;
$font-size: $base-size;

$bg-colour: $white;
$sidebar-colour: $black;
$sidebar-top-border: $red;
$body-border: $lt-blue;
$text-colour: $black;