$green: #96CA2D;
$lt-green: #B5E655;
$white: #FAFAFA;
$lt-blue: #BDD4DE;
$blue: #458DA3;
$red: #FF530D;
$black: #2d4054;
$grey: #A5ADB2;
$lt-grey: #ECECEC;

$mobile-break: 48em;
$tablet-break: 64em;
$desktop-break: 80em;

$browser-context: 16;
$base-size: rem(16px);

$font-sans: 'Roboto', 'Arial', sans-serif;
$font-mono: 'Source Code Pro', monospace;
$font-size: $base-size;
$font-color: $black;
$link-color: $blue;
$link-hover: $lt-blue;

$bg-color: $white;

$sidebar-color: $black;
$sidebar-top-border: $red;
$sidebar-text-color: $lt-blue;

$body-border: $lt-blue;
$text-color: $black;

$header-font: 'Oswald', 'Arial', sans-serif;

