@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro|Oswald:300,400');

@import 'mixins';
@import 'variables';
@import 'typography';

@import 'body';
@import 'pure-overrides';
@import 'sidebar';
@import 'mobile-nav';
@import 'footer';
@import 'figure';


body {
    background-color: $bg-color;
}

html, body, .hg-container {
    width: 100%;
    height: 100%;
    margin: 0;
}