@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro|Oswald:300,400');

@import 'mixins';
@import 'variables';

@import 'body';
@import 'pure-overrides';
@import 'sidebar';

body {
    background-color: $bg-colour;
}

html, body, .hg-container {
    width: 100%;
    height: 100%;
    margin: 0;
}