@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro');

@import 'variables';
@import 'mixins';

@import 'pure-overrides';
@import 'sidebar';

body {
    background-color: $bg-colour;
}

html, body, .hg-container {
    height: 100%;
}

.body {
    height: 50px;
    border-top: 5px solid $body-border;
}