<!--
Params (all are optional)
    - href=""
    - type="(primary | success | error | warn | secondary)"
    - size="(xsmall | small | large | xlarge)"
    - icon=""
    - class=""
    - id=""
    - title=""
-->
<a 
    class="
        pure-button
        hg-btn
        {{ with .Get "class" }}{{ . }}{{ end }}
        {{ with .Get "type" }}hg-btn-{{ . }}{{ end }}
        {{ with .Get "size" }}hg-btn-{{ . }}{{ end }}
    "

    {{ with .Get "title" }}
        title="{{.}}"
    {{ end }}

    {{ with .Get "id" }}
        id="{{.}}"
    {{ end }}
    
    {{ with .Get "href" }}
        id="{{.}}"
    {{ end }}

    role="button">

    {{ with .Get "icon" }}
        <i class="{{ . }}" aria-hidden="true"></i>
    {{ end }}

    {{ .Inner }}
</a>